body {background-color: #ac000a;
  background-image: url("docs/Capstone Pictures/pexels-dom-le-roy-3991976.jpg");
bacground-size: 150px;
   height: 85vh;
   width: 98vw;
  background-size: 99vw 84vh;
  background-repeat: no-repeat;
   background-position-y: 50%;
  }
#navbar {
display: flex;
justify-content: space-between;
align-items: center;
color: #210cf3;
}
main {
 display: inline-block;
}
main > p {
display:inline-block;
color: white;
 margin: auto;
float: left;
/*   position: relative;
top: 60px;
left: 40px;
width: 65vw; */
}

.main-mid {
position: relative;
float: left;
top: 150px;
/* left: 40px; */
width: 65vw;
line-height: 2;
color: white;
text-align: left;
}

#main-mid {
display: inline-block;
   margin-top: -140px;
 margin-bottom: -50px;
}

#startBttn {
/*  margin-top: 15px; */
margin-top: 45vh;

 /* margin-left: -900px; */
}

#locationPreview {
max-width: 30%;
max-height: 45%;
/* display: flex; */
float: right;
margin: auto;
padding: 30px;
margin-top: -80px;
}
footer{
position: absolute;
padding: 1px;
top: 125vh;
}
