body {background-color: #ac000a;
  background-image: url("docs/Capstone Pictures/pexels-dom-le-roy-3991976.jpg");
   height: 85vh;
   width: 98vw;
  background-size: 100vw 84vh;
  background-repeat: no-repeat;
   background-position-y: 50%;
  }
#navbar {
display: flex;
/* justify-content: space-between; */
align-items: center;
color: #210cf3;

}
#navbar > li {
  margin: auto;
}
main {
 display: inline-block;
}
main > p {
display:inline-block;
 margin: auto;
float: left;
/*   position: relative;
top: 60px;
left: 40px;
width: 65vw; */
}

.main-mid {
position: relative;
float: left;
top: 5px;
/* left: 40px; */
width: 65vw;
line-height: 2;
text-align: left;
}

#main-mid {
display: inline-block;

}

#startBttn {

  color: #d2e06f;
  border-style: solid;
  padding: 13px;
  background-color:#071812;
}

#locationPreview {
max-width: 30%;
max-height: 45%;
/* display: flex; */
float: right;
margin: auto;
padding: 30px;
margin-top: -300px;
}
footer{
/* position: absolute; */
padding: 1px;
position:fixed;
bottom: 0;
/* top: 125vh; */
}
table {
  color: #a4a4ab;
}
#about_us, #contact_us, #home{
  color: white
}
h1{
  color: gray;
}
#navbar {
  color: rgb(255, 255, 111)
}
.nav  li {
  color: white;
}
#events h2 {
color: #ac000a
}
a:visited {
  color: rgb(77, 207, 77);
}
table, th, td {
  border:1px solid rgb(191, 182, 218);
}
.center {
 text-align: center;
}
#test {
  margin-left: auto;
  margin-right: auto;
}
#startBttn, #copyRight {
  color:#59c559;
}
#startBttn, tr:hover {
  background: #eee;
}
@media (max-width: 549px){
  .hide--mobile {
    display: none !important;
  }
  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
  #locationPreview {
    max-width: 30%;
    max-height: 45%;
    /* display: flex; */
    float: right;
    margin: auto;
    padding: 0px;
    margin-top: -400px;
}

}
@media (min-width: 550px) {

  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-baseball-ball {
    display: none;
  }

}
.fa-baseball-ball {
  color: #95c4df;
  margin-top: -6.5vh;
  padding-bottom: 10vh;
}
#events > p {
  color:#d2e06f;
}
