header {

}
header {
  background: url("docs/Capstone Pictures/pexels-dom-le-roy-3991976.jpg") center center no-repeat;  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
/* body {background-color: #ac000a;
  background-image: url("docs/Capstone Pictures/pexels-dom-le-roy-3991976.jpg");
   height: 85vh;
   width: 98vw;
  background-size: 100vw 84vh;
  background-repeat: no-repeat;
   background-position-y: 50%;

  } */
#navbar {
display: flex;
/* justify-content: space-between; */
align-items: center;
color: #210cf3;

}
#navbar > li {
  margin: auto;
}
main {
 display: inline-block;
}
main > p {
display:inline-block;
 margin: auto;
float: left;
/*   position: relative;
top: 60px;
left: 40px;
width: 65vw; */
}

.main-mid {
position: relative;
float: left;
top: 5px;
/* left: 40px; */
width: 65vw;
line-height: 2;
text-align: left;
}

#main-mid {
display: inline-block;

}

#startBttn {

  color: #d2e06f;
  border-style: solid;
  padding: 13px;
  background-color:#071812;
  margin-top: 35px;

}

#locationPreview {
max-width: 30%;
max-height: 45%;
/* display: flex; */
float: right;
margin: auto;
padding: 30px;
margin-top: -355px;
}
footer{
/* position: absolute; */
padding: 1px;
/* position:fixed; */
bottom: 0;
/* top: 125vh; */
}
table {
  color: #201f1f;
}
#about_us, #contact_us, #home{
  color: #4a3e3e;
}
h1{
  color: #7391ff;
}
#navbar {
  color: rgb(255, 255, 111)
}
.nav  li {
  color: white;
}
#events h2 {
color: #ac000a;
text-align: center;
}
a:visited {
  color: rgb(77, 207, 77);
  padding: 8px;
  background-color: #95c4df;
}
table, th, td {
  border:1px solid rgb(191, 182, 218);
}
.center {
 text-align: center;
}
.tabCent {
  margin-left: auto;
  margin-right: auto;
}
#startBttn, #copyRight {
  color:#59c559;
}
#startBttn, tr:hover {
  background: #eee;
}
@media (max-width: 549px){
  .hide--mobile {
    display: none !important;
  }
  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
  #locationPreview {
    max-width: 30%;
    max-height: 45%;
    /* display: flex; */
    float: right;
    margin: auto;
    padding: 0px;
    margin-top: -400px;
}

}
@media (min-width: 550px) {

  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-baseball-ball {
    display: none;
  }

}
.fa-baseball-ball {
  color: #95c4df;
  margin-top: -6.5vh;
  padding-bottom: 10vh;
}
#events > p {
  color:#49aeff;
  font-size: larger;
  /* padding-top:; */
}
p {
  font-weight: bold;
  font-size: 20px;
}
.pCenter {
  text-align: center;
}
#confirmed {
  color: #201f1f;
  padding-bottom: 25px;
}
#nfl {
  margin-top: -180px;
}
#nba {
  margin-top: -95px;
}
#mlb {
  margin-top: -390px;
}
.pTabSpc {
padding-top: 40px;
padding-bottom: 6px;
}
